In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import json
from joblib import dump
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from starter.ml.data import process_data
from starter.ml.model import train_model, compute_model_metrics, inference

In [2]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [3]:
df = pd.read_csv('./data/trimmed_census.csv')

In [4]:
df.head()

,age,workclass,fnlgt,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
X, y, _, _ = process_data(
		df, categorical_features=cat_features, label="salary", training=True
	)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=123)

/opt/miniconda3/envs/project-ml-pipeline/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [6]:
model = train_model(X_train, y_train)

In [7]:
precision_train, recall_train, beta_train, accuracy_train, roc_auc_train = compute_model_metrics(y_train, model.predict(X_train))
precision_test, recall_test, beta_test, accuracy_test, roc_auc_test = compute_model_metrics(y_test, model.predict(X_test))

In [10]:
print("Train: ", (precision_train, recall_train, beta_train, accuracy_train, roc_auc_train))
print("Test: ", (precision_test, recall_test, beta_test, accuracy_test, roc_auc_test))

Train:  (0.9998175182481752, 0.9998175182481752, 0.9998175182481752, 0.9999122499122499, 0.9998798774235331)
Test:  (0.7413617886178862, 0.6179584921643372, 0.674058674058674, 0.8555635172484389, 0.7746244944622981)